<!DOCTYPE html>
<html lang="en" data-theme="fantasy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LungRisk Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.2.x/dist/typography.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="prose max-w-full">
    <nav class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">LungRisk Analyzer</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/" class="no-underline {% if page_name=='home' %}active{% endif %}">Home</a></li>
          <li><a href="/charts" class="no-underline {% if page_name=='charts' %}active{% endif %}">Charts</a></li>
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>