<dialog class="modal" id="disclaimer_modal">
  <div class="modal-box">
    <h3 class="mt-0">Disclaimer</h3>
    <p>
      This application is for informational and educational purposes only. It is not intended to diagnose, treat, or
      provide medical advice regarding lung cancer or any other medical condition. The predictions and results generated
      by this application are based on statistical models and publicly available datasets, which may not fully account
      for individual risk factors or medical history.
      <br /><br />
      Users should not rely on this application as a substitute for professional medical advice, diagnosis, or
      treatment. Always consult a qualified healthcare provider for any questions or concerns about your health. The
      developers of this application are not responsible for any decisions made based on the information provided.
      <br /><br />
      By using this application, you acknowledge and agree that the results are estimations and should not be considered
      definitive medical guidance.
      <br /><br />
      Please press esc to close this warning
    </p>
  </div>

</dialog>
